{% extends "base.html.twig" %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block body %}

    <div class="p-3 mx-auto text-center">
        <h1 class="display-4"> {{ post.title }}</h1>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="jumbotron">
                        <p>{{ post.user.firstname }} {{ post.user.lastname }}</p>
                        <img width="300px" src="{{ asset('uploads/images/' ~ post.image) }}" alt="{{ post.title }}"> {{ post.content | raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}